<h1>Profile</h1>

<div class="container">
  <div class="columns is-multiline is-mobile">
  <% images.forEach(image => { %>
    <div class="column is-one-third-mobile is-one-third-tablet is-one-third-desktop">
    <a href="/images/<%= image.id %>">
    <img src=<%= image.image %> >
    </a>
    </div>
    <% }) %>
  </div>
</div>
