<%# TODO: insert logo here %>

<div class="container mainContainer">
  <h1 class="is-size-2">Upload an image</h1>
<form action="/images" method="POST">
  <div class="field">
    <div class="control">
      <input class="input is-fullwidth" type="text" placeholder="Image URL" name="image">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-fullwidth" type="text" placeholder="Location (Optional)" name="location">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-fullwidth" type="text" placeholder="Description (Optional)" name="description">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-link is-fullwidth has-text-centered">Upload</button>
    </div>
  </div>
</form>
</div>
