<%# TODO: insert logo here %>

<h1>Upload an image</h1>

<form action="/images" method="POST">
  <div class="file has-name">
    <label class="file-label">
      <input class="file-input" type="file" name="resume">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Choose a file…
        </span>
      </span>
    </label>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-fullwidth" type="text" placeholder="Description (Optional)" name="description">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-fullwidth" type="text" placeholder="Location (Optional)" name="location">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-link is-fullwidth has-text-centered">Upload</button>
    </div>
  </div>
</form>
