<div class="section">

<h2>Upload an image</h2>

<form action="/images" method="POST" class="uploadImageForm">
  <div class="field">
    <a class="button" id="uploadImageBtn">Choose an image</a>
    <div class="control">
      <input id="imageURL" class="input" type="text" name="image" placeholder="Image URL">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-fullwidth" type="text" placeholder="Location (Optional)" name="location">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-fullwidth" type="text" placeholder="Description (Optional)" name="description">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-link is-fullwidth has-text-centered">Upload</button>
    </div>
  </div>
</form>
</div>

<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
<script>
const client = filestack.init('A53jKm6Q0GkLTlst7BB4wz');
const btn = document.getElementById('uploadImageBtn')
btn.addEventListener('click', function () {
  client.pick({})
  .then(function(data) {
    document.getElementById('imageURL').value = data.filesUploaded[0].url;
  })
});
</script>
