<%# TODO: insert logo here %>

<h2 class="is-title">Sign up to see photos and videos from your friends</h2>

<form action="/registrations" method="POST">
  <div class="field">
    <div class="control">
      <input class="input" type="text" placeholder="Full Name" name="fullName">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input" type="text" placeholder="Username" name="username">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input" type="email" placeholder="Email" name="email">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input" type="password" placeholder="Password" name="password">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input name="passwordConfirmation" placeholder="Confirm Password" class="input" type="password">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-link is-fullwidth has-text-centered">Sign Up</button>
    </div>
    <div class="section">
      <p class="has-text-centered">Already have an account? Login in <a href="/sessions/new">here</a></p>
    </div>
  </div>
</form>
