<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Instagram</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script type="text/javascript" src="/node_modules/bulma-extensions/bulma-carousel/dist/bulma-carousel.min.js"></script>
</head>
<body class="is-light">

  <% include ./partials/_header %>

  <div class="container">
    <% for (const type in locals.messages) { %>
      <div class="message is-<%= type %>">
        <div class="message-body">
          <%= messages[type] %>
        </div>
      </div>
      <% } %>
    </div>

    <div class="section">
      <%- body %>
    </div>

    <% include ./partials/_footer %>

    <script>
    var carousels = bulmaCarousel.attach(); // carousels now contains an array of all Carousel instances
    </script>
  </body>
  </html>
