body {
  /* background-image: url("https://images.pexels.com/photos/1051075/pexels-photo-1051075.jpeg?cs=srgb&dl=adventure-atlas-business-1051075.jpg&fm=jpg");
  background-size: cover;
  width: 100%;
  height: 100vh; */
  background-color: #fafafa;
}

.navbar {
  border-bottom: #cbcbcb;
  -webkit-box-shadow:0px 1px 1px #cbcbcb;
 -moz-box-shadow:0px 1px 1px #cbcbcb;
 box-shadow:0px 1px 1px #cbcbcb;
}


img {
  padding: 0;
  margin: 0;
}

img:hover {

}


img.profilePic {
    border-radius: 50%;
    height: 150px;
}

.profilePicSmall {
  border-radius: 50%;
  height: 64px;
}

.editProfilePic {
  border-radius: 50%;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.instagramLogo {
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;
}

.instagramLogo:hover {
  background-color: none;
}

footer {
  /* TODO: BEAT BULMA AND STYLE THE FOOTER  */
}

.registrationMessage {
  padding: 1rem;
}

.imageBoard {
  padding: 2px;
}

.imageBoard:hover {
  opacity: 0.5;
  transition: 0.2s;
}


.fa-heart {
  color: white;
  display: none;
}

.fa-user, .fa-users {
  font-size: 2rem;
}

.deleteAccountBtn {
  margin-top: 80px;
}
