/* Main */

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

.section {
  min-height: 100vh;
  height: auto;
}

/* Typography */

h1 {

}

h2 {
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 1.4rem;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 1.2rem;
}

h4 {
font-size: 1rem;
}

h5 {

}

p {

}

a {
  color: black;
}

/* Navbar */

.navbar {
  border-bottom: #cbcbcb;
  -webkit-box-shadow:0px 1px 1px #cbcbcb;
  -moz-box-shadow:0px 1px 1px #cbcbcb;
  box-shadow:0px 1px 1px #cbcbcb;
  background-color: aliceblue;
}

.navbar-item {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: right;
}

img {
  padding: 0;
  margin: 0;
}

img:hover {

}

.profilePic {
  border-radius: 50%;
  max-width: 200px;
  width: 100%;
}

.profilePicSmall {
  border-radius: 50%;
  height: 64px;
}

.editProfilePic {
  border-radius: 50%;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.instagramLogo {
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.instagramLogo:hover {
  background-color: none;
}

.registrationMessage {
  padding: 1rem;
}

.imageBoard {
  padding: 2px;
}

.imageBoardFigure {
  padding: 0;
}

.imageBoard:hover {
  opacity: 0.5;
  transition: 0.2s;
}


.fa-heart {
  color: white;
  display: none;
}

.fa-user, .fa-users {
  font-size: 2rem;
}

.deleteAccountBtn {
  margin-top: 80px;
}

.usersOnInstagram {
  border-radius: 50%;
  max-width: 150px;
  width: 100%;
}

.usersOnInstagramText {
  padding: 10px;
}

.message-body {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#message {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#message-body {

}

.alignTextCenter {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.user:hover {
  background-color: aliceblue;
}

.user:first-child {
    border-top: 1px solid #dfdfdf;
}

.user {
  margin: 10px 0 10px 0;
  transition: 0.8s;
}

.user:last-child {
  /* border-bottom: 1px solid #dfdfdf; */
}

#uploadImageBtn {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  /* background-color: aliceblue; */
}

.indexPage {
  text-align: center;
}

#heroTitleAnimation {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-transition-animation-duration: 3s;
}

.profilePicColumn {
  align-items: center;
  text-align: center;
  margin: 0 auto;
}


/* LOGIN AND REGISTRATION FORM */
.loginForm, .registrationForm, .uploadImageForm {
  height: 50vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.levelStyle {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 4px;
}

/* Footer */
footer {
  /* TODO: BEAT BULMA AND STYLE THE FOOTER  */
}
