<%# TODO: insert logo here instead of text %>
<h1>Instagram</h1>

 <%# TODO: add spacing between buttons %>
<a class="button is-link has-text-centered is-large is-fullwidth" href="/register">Create A New Account</a>
<a class="button has-text-centered has-text-link is-large is-fullwidth" href="/login">Log In</a>
