
<a class="button is-link has-text-centered is-large is-fullwidth" href="./registrations/new">Create A New Account</a>
<a class="button has-text-centered has-text-link is-large is-fullwidth" href="./sessions/new">Log In</a>
