<div class="hero heroStyle hero-body">
  <div class="container indexPage">
    <h1 class="animated zoomIn heroTitle title" id="heroTitleAnimation">
      All your images in one place
    </h1>
    <a class="button is-large animated fadeIn" href="/images/new" id="uploadImageBtn">Upload Image</a>
  </div>
</div>
