<div class="container mainContainer">
<figure class="instagramLogo">
  <img src="/instalogo.png" alt="instagram logo">
</figure>

<% if(locals.message) { %>
  <div class="message is-danger has-text-centered">
  <div class="message-body">
  <%= message %>
  </div>
  </div>
  <% } %>


<div class="columns is-multiline is-mobile">
<div class="column is-12-mobile is-half-desktop loginForm">
  <form action="/sessions" method="POST">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="Email" name="email">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input" type="password" placeholder="Password" name="password">
      </div>
    </div>
    <button class="button is-link is-fullwidth">Login</button>
    <div class="section">
      <p class="has-text-centered">Haven't got an account? Sign up <a href="/registrations/new">here</a></p>
    </div>
  </form>
</div>
</div>
</div>
