<div class="container">
  <h1 class="title is-2 has-text-centered">Users on Instagram</h1>
  <% users.forEach(user => { %>
    <div class="columns user is-multiline is-mobile">
    <div class="column is-2-desktop is-2-tablet">
    <a href="/users/<%= user.id %>"><img class="usersOnInstagram" src="<%= user.imageUrl %>"></a>
    </div>
    <div class="column alignTextCenter is-10-mobile">
    <p class="is-size-4 has-text-black"><%= user.username %></p>
    <p class="title is-size-5"><%= user.fullName %></p>
    </div>
    </div>
    <% }) %>
</div>
