<section class="section usersSection">
<%# <div class="container"> %>
  <h2>Users on Instagram</h2>
  <% users.forEach(user => { %>
    <a href="/users/<%= user.id %>">
    <div class="columns user is-multiline is-mobile">

    <div class="column is-2-desktop is-2-tablet"><img class="usersOnInstagram" src="<%= user.imageUrl %>"></div>

    <div class="column alignTextCenter is-10-mobile">
      <h3><%= user.username %></h3>
      <h4><%= user.fullName %></h4>
    </div>

    </div>
    </a>
    <% }) %>
  <%# </div> %>
</section>
